<ion-app>
  <link
    href="https://api.fontshare.com/v2/css?f[]=satoshi@1&display=swap"
    rel="stylesheet"
  />
  <ion-content>
    <div class="pagina">
      <div class="caixa-formulario">
        <ion-img
          src="https://bonusdeapostas-com.imgix.net/assets/local/esportes-da-sorte-logo-white.png"
          class="pagina-logo"
        ></ion-img>
        <ul class="lista">
          <li class="item-lista selected">
            <a href="#">CADASTRO</a>
          </li>
          <li class="item-lista">
            <a href="#">LOGIN</a>
          </li>
        </ul>
        <form class="formulario">
          <ion-input
            placeholder="Insira seu usuário"
            fill="outline"
            class="username"
            label="Usuário"
          ></ion-input>
          <ion-input
            placeholder="Insira sua senha"
            fill="outline"
            class="password"
            label="Senha"
          ></ion-input>
          <button type="submit" class="botao-cadastro">Cadastrar-se</button>
        </form>
      </div>
    </div>
  </ion-content>
</ion-app>
